version: '3.8'
services:
  postgres:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres  # Лучше использовать стандартного юзера postgres
      POSTGRES_DB: tea_shop_db
      POSTGRES_HOST_AUTH_METHOD: trust # <--- Разрешает вход без пароля