:root {
    --color-bg: #1a120b; /* Темный пуэр */
    --color-card: #2c1e16; /* Цвет прессованного блина */
    --color-text-main: #e5e0d8; /* Кремовый */
    --color-text-muted: #a69080;
    --color-accent: #d4a373; /* Золотистый настой */
    --color-accent-hover: #e6b88a;
    --font-serif: 'Georgia', 'Times New Roman', serif;
    --font-sans: 'Helvetica Neue', sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text-main);
    font-family: var(--font-sans);
    line-height: 1.6;
    min-height: 100vh;
}

h1, h2, h3, h4 {
    font-family: var(--font-serif);
    font-weight: 400;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.3s ease;
}